{% extends 'event_templates/base.html' %}
{% load static %}

{% block header_title %}
    Registeration Success
{% endblock %}

{% block header_link %}
<link rel="stylesheet" href="{% static 'styles/register.css' %}">
<style>

.error {
    padding: 5px;
    margin: 10px; 
    border: 1px solid #ff00005e; 
    display: inline-block;
    border-radius: 10px; 
    font-weight: 100;
    }
    
</style>
{% endblock %}

{% block body_block %}
<form method="POST" class="blocks" enctype="multipart/form-data" action="{% url 'events_app:login' %}">
    {% csrf_token %}
    <br>
    <ul>
        <li><h5 class="error">{{error}}</h5></li>
        <li><h4>Username</h4><input type="text" name="username"></li>
        <li><h4>Password</h4><input type="password" name="password"></li>
    </ul>
    <input type="submit" name="submit">

</form>
{% endblock %}